:root {
    --whiteColor: rgba(255,255,255,1);;
    --blackColor: rgba(0,0,0,1);
    --darkGreyColor: rgba(30,30,30,1);;
    --secondaryColor: #;
}

/* reset */
* {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}
p, a, ul, li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow-wrap: break-word;
}
li {
    list-style-type: none;
}


button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/* base style */
body {
    background: var(--whiteColor);
}
.button {
    position: relative;
    padding: 14px 35px;
    overflow: hidden;
    border: 2px solid var(--darkGreyColor);
    border-radius: 4px;
    background: 0 0;
    cursor: pointer;
    background: var(--darkGreyColor);
    padding: 8px 35px;
    color: var(--whiteColor);
    font-family: poppins,sans-serif;
    font-size: 18px;
    font-weight: 400;
    max-width: 100%;
    text-align: center;
}
.button span {
    z-index: 2;
    position: relative;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    -webkit-transition: all .1s;
    transition: all .1s;
}
.button:after {
    content: '';
    position: absolute;
    top: -10px;
    right: 100%;
    bottom: -10px;
    left: -10px;
    /*background: #1e1e1e;*/
    -webkit-transition: all .6s cubic-bezier(.39,.58,.57,1);
    transition: all .6s cubic-bezier(.39,.58,.57,1);
    background: var(--whiteColor);
}
.button:hover:after {
    right: -10px;
}
.button:hover span {
    color: var(--darkGreyColor);
}
input, textarea {
    width: 100%;
    padding: 15px;
    background: 0 0;
    border: 1px solid rgba(221,221,221,1);
    font-family: poppins,sans-serif;
    font-size: 18px;
    font-weight: 400;
}
textarea {
    overflow: auto;
    resize: none;
    height: 100px;
}

/* font */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
}
h4 {
    color: var(--blackColor);
    font-family: quicksand,Sans-serif;
    font-size: 2.19rem;
    font-weight: 700;
    line-height: 1.3em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    overflow-wrap: break-word;
}
/* mobile style */
header {
    width: 100%;
    z-index: 9999;
    padding: 30px 0;
    color: rgba(255,255,255,1);
    transition: all .7s;
    background: rgba(0,0,0,1);
    display: flex;
    justify-content: center;
}
header .container {
    display: flex;
    justify-content: space-between;
    flex-direction:column;
}
header h1 {
    text-align: center;
    padding: 0 10px;
    margin: 0;
}
header h1 img {
    height: 60px;
    max-width: 100%;
}
nav {
    /*width: 100%;*/
    padding: 0 20px;
}
nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}
nav ul li {
    list-style-type: none;
    padding: 5px 12px;
}
nav ul li a {
    color: rgba(255,255,255,1);
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Quicksand", Sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.3em;
    letter-spacing: -1px;
}
nav ul li a:hover {
    color: rgba(244,113,24,1);
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
}

main {
    width: 100%;
    margin: 0;
}

.aboutTop {
    width: 100%;
    padding: 65px 35px 0;
    text-align: center;
}
.aboutTop h6 {
    color: rgba(86,86,86,1);
    font-family: "Manrope", Sans-serif;
    font-size: 0.69rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.aboutTop h4 {
    font-family: "Quicksand", Sans-serif;
    font-size: 2.19rem;
    font-weight: 700;
    line-height: 1.3em;
    letter-spacing: -1px;
    padding: 40px 0 0;
    overflow-wrap: break-word;
}

.aboutBottom {
    width: 100%;
    padding: 65px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.aboutBottom .leftPanel {
    width: 100%;
    display: inline-block;
    width: 70%;
    margin: 0 auto;
}
.aboutBottom .leftPanel img {
    max-width: 100%;
}
.aboutBottom .rightPanel {
    width: 100%;
    display: inline-block;
    padding: 0 20px;
    text-align: center;
}

.aboutBottom .rightPanel h2 {
    font-family: "Quicksand", Sans-serif;
    font-size: 2.19rem;
    font-weight: 700;
    line-height: 1.3em;
    letter-spacing: -1px;
    padding-top: 60px;
    padding-bottom: 30px;
    overflow-wrap: break-word;
}
.aboutBottom .rightPanel p {
    font-size: 1.06rem;
    font-weight: 300;
    line-height: 1.6em;
    margin: 0;
    color: rgba(86,86,86,1);
    font-family: 'Poppins', sans-serif;
    padding-bottom: 30px;
}

.whatWeDo {
    width: 100%;
    padding: 50px 0;
    background-color: rgba(237,237,237,1);
}


.whatWeDoTop {
    width: 100%;
    text-align: center;
}
.whatWeDoTop h6 {
    color: rgba(122,122,122,1);
    font-family: "Manrope", Sans-serif;
    font-size: 0.69rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.3em;
}
.whatWeDoTop h3 {
    font-family: "Quicksand", Sans-serif;
    font-size: 2.69rem;
    font-weight: 700;
    line-height: 1.3em;
    letter-spacing: -1px;
    margin-bottom: 40px;
}

.whatWeDoBottom {
    width: 100%;
}
.whatWeDoBottom ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-direction: column;
}
.whatWeDoBottom ul li {
    padding: 15px 20px;
    text-align: center;
}
.whatWeDoBottom ul li i {
    color: rgba(206,73,24,1);
    font-size: 4.75rem;
    padding-bottom: 10px;
}
.whatWeDoBottom ul li h6 {
    color: rgba(34,34,34,1);
    font-family: "Manrope", Sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.3em;
    letter-spacing: -0.3px;
    padding-bottom: 15px;
}
.whatWeDoBottom ul li p {
    font-size: 1.06rem;
    font-weight: 300;
    line-height: 1.6em;
    line-height: inherit;
    margin: 0;
    color: rgba(86,86,86,1);
    font-family: 'Poppins', sans-serif;
    padding-bottom: 30px;
}


.backgroundOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,1);
    opacity: 0.84;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    top: 0;
    left: 0;
    position: absolute;
}
.nextProject {
    background-attachment: fixed;
    background-color: rgba(0,0,0,1);
    background-image: url(./images/architecture3-scaled-1.jpg);
    background-position: center center;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 0;
    position: relative;
}

.nextProject .content {
    width: 100%;
    text-align: center;
    position: relative;
    padding: 0 10px;
}
.nextProject .content h6 {
    color: rgba(220,218,86,1);
    font-family: "Manrope", Sans-serif;
    font-size: 0.69rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.3em;
}
.nextProject .content h2 {
    color: rgba(255,255,255,1);
    font-family: "Manrope", Sans-serif;
    font-weight: 700;
    font-size: 3.41rem;
    line-height: 1.4em;
    letter-spacing: -1px;
    overflow-wrap: break-word;
}
.nextProject .content p {
    color: rgba(189,189,189,1);
    font-size: 1.06rem;
    line-height: 1.65em;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}


footer {
    background-color: rgba(237,237,237,1);
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    padding: 120px 0;
}
footer article {
    display: flex;
    flex-direction: column;
}
footer section, footer aside {
    width: 100%;
    text-align: center;
}
footer section {
    padding: 0 20px;
}
footer aside {
    padding: 70px 20px 0;
}
footer h6 {
    color: rgba(0,0,0,1);
    font-size: 0.69rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: quicksand,Sans-serif;
    line-height: 1.3em;
    margin-bottom: 10px;
}
footer h4 {
    color: rgba(0,0,0,1);
    font-family: quicksand,Sans-serif;
    font-size: 2.19rem;
    font-weight: 700;
    line-height: 1.3em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    overflow-wrap: break-word;
}
footer section p {
    margin: 0;
    color: rgba(86,86,86,1);
    font-family: poppins,sans-serif;
    font-size: 1.06rem;
    font-weight: 300;
    line-height: 1.8;
}

footer aside p {
    margin-bottom: 30px;
}

/* small tablet styles */
@media screen and (min-width: 333px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }
    .button {
        padding: 8px 35px;
        text-align: center;
    }
}

@media screen and (min-width: 420px) {
    .button {
        padding: 8px 35px;
        text-align: center;
    }
    nav ul {
        flex-direction: row;
        text-align:left;
    }
}

/* small tablet styles */
@media screen and (min-width: 620px) {
    header .container {
        justify-content: space-between;
        flex-direction:row;
    }
    .aboutTop {
        padding: 65px 200px 0;
    }
    .aboutBottom .leftPanel {
        max-height: 600px;
        overflow: hidden;
        width: 70%;
        margin: 0 auto;
    }
}

/* large tablet & laptop styles */
@media screen and (min-width: 960px) {
    body {
        font-size: 18px;
    }
    .aboutBottom {
        flex-direction: row;
    }
    .aboutBottom .leftPanel {
        width:45%;
        max-height: 700px;
    }
    .aboutBottom .rightPanel {
        width:55%;
    }
    .whatWeDoBottom ul {
        flex-direction: row;
    }
    footer article {
        flex-direction: row;
    }
    footer aside {
        padding: 40px 20px 0;
    }
}

/* dwsktop styles */
@media screen and (min-width: 1200px) {
    body {
        font-size: 20px;
    }
    .aboutBottom .leftPanel {
        width:50%;
    }
    .aboutBottom .rightPanel {
        width:50%;
        text-align: left;
    }
}